@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Libre+Baskerville:wght@700&family=Oswald:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

/* header for link tabs

.header{
    height: 20vh;
    width: 100%;
    padding: 0 8%;
    background: #080008;
    position: relative;

    
}*/

body {
    height: 110vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #007030;
    
   
    
    
}

.logo{
    display: flex;
    
    float: left;
    margin-bottom: 600px;
    max-width: 600px;
    
    
}


/*nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav-links{
    padding: 10px 0;
}
.nav-links li{
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
}
.nav-links li a::after{
    content: '';
    background: #ff3d00;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: wids;
}
.nav-links li a:hover::after{
    width: 100%;
}*/


.container{
    position: absolute;
    left: 50%;
    top: 10%;
    
    width: 90%;
    max-width: 700px;
    transform: translate(-50%, 20%);
    
    
    
    justify-content: center;
    
    
    
    background: #fff;
    padding: 20px 30px;
    border-radius: 30px;
    margin-bottom: 100px;
    margin: auto;
    
    
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: #007030;
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 30px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;

}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #007030;
}

textarea{
    margin-bottom: 15px;
    
    width: 100%;
    border-radius: 30px;
    border: 1px solid #007030;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 4px;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: #007030;
}
form .input-box input:hover{
    background: #FEE11A;
    color:#007030
}

form textarea:hover{
    background: #FEE11A;  
    color:#007030
}

form .button button:hover{
    background: #FEE11A;
    color:#007030
}

button{
    background: #007030;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 10px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}

@media (max-width: 584px) {
    .header {
        float: left;

        padding-top: 20px;
        padding-left: 120px;
        
    }
    .container{
       
        max-width: 80%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }

    

    /*
    
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar{
        width: 0;
    
    */


    
    
    
}

.header .logo {
    float: left;
    width: 800px;
    
    padding-left: 105px;
    padding-right: 0px;
   

    display: block;
    margin-left: auto;
    margin-right: auto;
}

label{
    margin-bottom: 6px;
    display: block;
    color: #007030;
}

/*input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

button{
    background: #007030;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}
.user-details h3{
    color: #007030;
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child{
    padding-right: 20px;
}

tr td{
    padding-top: 20px;
}

.mobile-text {
    text-align: right !important;
}*/

  